md-card.page
  md-card-content
    md-tabs(md-fixed)
      md-tab(id="overview",md-label="Overview")
      md-tab(id="hangouts",md-label="Hangouts")
        h3 Total Hangouts: {{hangouts.length}}
      md-tab(id="participants",md-label="Participants")
        h3 Total Participants: {{participants.length}}
