<dom-module id="hangouts-detail">
  <template>
    <style include="common-styles">
      canvas {
        margin: auto;
      }
      #graph, #timeline {
        margin: auto;
        max-width: 80%;
      }
    </style>
    <div class="margin">
      <div id="content">
        <paper-button raised id="back">
          <iron-icon icon="arrow-back"></iron-icon>
          &nbsp;
          Back
        </paper-button>
        <h1>{{details.name}}</h1>
        <p>
          Total posts: {{details.posts}}
          <br />
          Total members: {{details.participant_list.length}}
        </p>
        <div id="graph"></div>
        <div id="timeline"></div>
        <template is="dom-repeat" items="{{details.participant_list}}">
          <paper-card heading="{{item.name}}">
            <div class="card-content">Posts: {{item.posts}}</div>
          </paper-card>
        </template>
      </div>
    </div>
  </template>
  <script src="detail.js"></script>
</dom-module>
