.home
  .home-content
    template(v-if="loading")
      .md-display-1.buffer Loading
      md-progress-spinner(md-mode="indeterminate")
    template(v-else)
      .md-display-1 Hangouts Tools
      md-field
        md-file(@md-change="updatePath")
      md-button.md-primary.md-raised(@click="start()") Open
