<dom-module id="hangouts-project">
  <template>
    <style include="common-styles"></style>
    <div class="margin">
      <h1>{{name}}</h1>
      <paper-input label="Project Name" value="{{name}}"></paper-input>
      <paper-input label="Takeout File" value="{{file}}"></paper-input>
      <paper-button raised id="button-browse">Browse</paper-button>
      <br />
      <br />
      <label>Analysis Depth:</label>
      <br />
      <paper-radio-group selected="{{depth}}">
        <paper-radio-button name="basic">Basic (Small file size, normal output)</paper-radio-button>
        <br />
        <paper-radio-button name="advanced">Advanced (Large file size, comprehensive output)</paper-radio-button>
        <br />
        <paper-radio-button name="extreme">Extreme (<b>Huge</b> file size, output + word search)</paper-radio-button>
      </paper-radio-group>
      <hr />
      <paper-button raised id="button-go" class="secondary">Create Project</paper-button>
      <paper-dialog modal id="dialog-running">
        <h2>Program running...</h2>
        <p>
          <paper-spinner active></paper-spinner>
          <br />
          <br />
          Please be patient while the program runs. This may take a while depending on the size and number of your hangouts.
        </p>
      </paper-dialog>
    </div>
  </template>
  <script src="project.js"></script>
</dom-module>
