<dom-module id="hangouts-view">
  <template>
    <style include="common-styles">
      paper-card {
        text-align: left;
        transition: 250ms ease-in;
        width: 30%;
        --paper-card-header: {
          height: 116px;
        }
      }
      #timeline {
        margin: auto;
        max-width: 80%;
      }
      .content {
        max-height: var(--height);
        overflow-y: scroll;
      }
      .hangouts {
        text-align: center;
      }
      @media (max-width: 800px) {
        paper-card {
          width: 45%;
        }
      }
      @media (max-width: 475px) {
        paper-card {
          width: 75%;
        }
      }
    </style>
    <div class="content">
      <h1>{{name}}</h1>
      <paper-button raised class="secondary" id="button-save">Save Project</paper-button>
      <br />
      <h2>Total posts: {{data.global.posts}}</h2>
      <div id="timeline"></div>
      <div class="hangouts">
        <template is="dom-repeat" items="{{data.hangouts}}">
          <paper-card heading="{{item.name}}" class="margin">
            <div class="card-content">
              Total posts: {{item.posts}}
              <br />
              Total members: {{item.participant_list.length}}
            </div>
            <div class="card-actions">
              <paper-button raised on-tap="goDetails">Details</paper-button>
            </div>
          </paper-card>
        </template>
      </div>
      <paper-toast id="toast-success" text="Project saved!"></paper-toast>
    </div>
  </template>
  <script src="view.js"></script>
</dom-module>
