<link rel="import" href="../bower_components/app-layout/app-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/effects/waterfall.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/neon-animation/neon-animatable.html">
<link rel="import" href="../bower_components/neon-animation/neon-animated-pages.html">
<link rel="import" href="../bower_components/neon-animation/neon-animation.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../styles/app.html">
<link rel="import" href="detail.html">
<link rel="import" href="home.html">
<link rel="import" href="project.html">
<link rel="import" href="settings.html">
<link rel="import" href="view.html">

<dom-module id="hangouts-tools">
  <template>
    <style include="app-styles"></style>
    <app-header-layout>
      <app-header fixed effects="waterfall">
        <paper-toolbar>
          <div class="title">Hangouts Tools</div>
          <paper-icon-button icon="add" id="button-add"></paper-icon-button>
          <paper-icon-button icon="folder-open" id="button-open"></paper-icon-button>
          <paper-icon-button icon="settings" id="button-settings"></paper-icon-button>
        </paper-toolbar>
      </app-header>
      <neon-animated-pages entry-animation="slide-from-right-animation" exit-animation="slide-left-animation" selected="{{page}}">
        <neon-animatable>
          <hangouts-home></hangouts-home>
        </neon-animatable>
        <neon-animatable>
          <hangouts-project></hangouts-project>
        </neon-animatable>
        <neon-animatable>
          <hangouts-view id="page-view"></hangouts-view>
        </neon-animatable>
        <neon-animatable>
          <hangouts-detail></hangouts-detail>
        </neon-animatable>
        <neon-animatable>
          <hangouts-settings></hangouts-settings>
        </neon-animatable>
      </neon-animated-pages>
      <paper-dialog id="error">
        <h2>An error occured</h2>
        <p>
          {{error}}
        </p>
        <div class="buttons">
          <paper-button raised class="secondary" dialog-dismiss>Close</paper-button>
        </div>
      </paper-dialog>
    </app-header-layout>
  </template>
  <script src="../js/app.js"></script>
</dom-module>
