<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-styles/paper-styles.html">
<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="hangouts-detail">
  <template>
    <style>
      :host {
        margin: 8px;
      }
      canvas {
        margin: auto;
      }
      h1 {
        @apply(--paper-font-headline);
      }
      p {
        @apply(--paper-font-common-base);
      }
    </style>
    <div id="content">
      <paper-button raised id="back">
        <iron-icon icon="arrow-back"></iron-icon>
        &nbsp;
        Back
      </paper-button>
      <h1>{{details.name}}</h1>
      <p>
        Total posts: {{details.posts}}
        <br />
        Total members: {{details.participant_list.length}}
      </p>
      <div id="graph"></div>
      <div id="timeline"></div>
      <template is="dom-repeat" items="{{details.participant_list}}">
        <paper-card heading="{{item.name}}">
          <div class="card-content">Posts: {{item.posts}}</div>
        </paper-card>
      </template>
    </div>
  </template>
  <script>
    Polymer({
      is: "hangouts-detail",
      listeners: {
        'back.tap': 'back'
      },
      back() {
        app.page = 2;
      },
      graph() {
        this.$.graph.innerHTML = "";
        this.$.timeline.innerHTML = "";
        let graph = document.createElement("canvas");
        this.$.graph.appendChild(graph);
        let graphCtx = graph.getContext("2d");
        graphCtx.canvas.width = 740;
        graphCtx.canvas.height = 570;
        graphCtx.canvas.style.margin = "auto";
        let pie = new Chart(graphCtx, {
          type: 'doughnut',
          data: new HangoutsTools.Data(this.details.participant_list).formatPieChart(),
          options: {
            responsive: false
          }
        });
        let timeline = document.createElement("canvas");
        this.$.timeline.appendChild(timeline);
        let timelineCtx = timeline.getContext("2d");
        timelineCtx.canvas.width = 740;
        timelineCtx.canvas.height = 570;
        timelineCtx.canvas.style.margin = "auto";
        let line = new Chart(timelineCtx, {
          type: 'line',
          data: new HangoutsTools.Data(this.details.timeline).formatTimeline(),
          options: {
            responsive: false
          }
        });
      }
    });
  </script>
</dom-module>
