<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../styles/home.html">

<dom-module id="hangouts-home">
  <template>
    <style include="home-styles"></style>
    <div class="layout horizontal center">
      <paper-card heading="New Project" class="flex-3 margin">
        <div class="card-content">Create a new project from a hangouts archive file.</div>
        <div class="card-actions">
          <paper-button raised id="button-new">Go</paper-button>
        </div>
      </paper-card>
      <paper-card heading="Open Project" class="flex-3 margin">
        <div class="card-content">Open an existing project file.</div>
        <div class="card-actions">
          <paper-button raised id="button-open">Go</paper-button>
        </div>
      </paper-card>
    </div>
    <div class="layout horizontal center">
      <paper-card heading="Compressor" class="flex-3 margin">
        <div class="card-content">Reduce the size of large takeout files.</div>
        <div class="card-actions">
          <paper-button raised id="button-compressor">Go</paper-button>
        </div>
      </paper-card>
    </div>
  </template>
  <script src="../js/home.js"></script>
</dom-module>
