<dom-module id="hangouts-compressor">
  <template>
    <style include="common-styles"></style>
    <div class="margin">
      <h1>Compressor</h1>
      <paper-input label="Takeout file" value="{{file}}"></paper-input>
      <paper-button raised id="button-browse">Browse</paper-button>
      <paper-input label="Output file" value="{{output}}"></paper-input>
      <paper-button raised id="button-browse-2">Browse</paper-button>
      <hr />
      <paper-button raised class="secondary" id="button-go">Compress</paper-button>
    </div>
    <paper-dialog id="working">
      <h2>Working...</h2>
      <p>
        <paper-spinner active></paper-spinner>
        <br />
        Please wait while your file is compressed.
      </p>
    </paper-dialog>
    <paper-dialog id="done">
      <h2>Compression Complete</h2>
      <p>
        Your file has been compressed!
        <br />
        The size was reduced by {{amount}}% ({{original}} MB to {{new}} MB)
      </p>
      <div class="buttons">
        <paper-button raised id="button-ok">Ok</paper-button>
      </div>
    </paper-dialog>
  </template>
  <script src="compressor.js"></script>
</dom-module>
