md-card.page
  md-card-header
    h1.md-title Settings
  md-card-content
    md-input-container
      label Settings File
      md-input
    md-input-container
      label Application Folder
      md-input
    md-input-container
      label Temp Folder
      md-input
