<dom-module id="hangouts-settings">
  <template>
    <style include="common-styles"></style>
    <div class="margin">
      <h1>Settings</h1>
      <paper-checkbox checked="{{settings.checkForUpdates}}">Automatically check for updates</paper-checkbox>
      <br />
      <paper-checkbox checked="{{settings.developerMode}}">Developer mode</paper-checkbox>
      <hr />
      <paper-button raised id="button-save">Save</paper-button>
    </div>
    <paper-toast id="toast-saved" text="Settings saved!"></paper-toast>
  </template>
  <script src="settings.js"></script>
</dom-module>
